@import '../styles/colors';

.wrapper {
	padding: 10px;

	.footer {
		margin: 20px;
		padding-left: 5px;
		width: 96%;
		border: 1px solid $card-border;
		border-radius: 2px;
		background-color: $filler-gray;
		font-size: 9px;
		color: $text-black;
		z-index: 10;
	}
}
